In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(color_codes=True)
%matplotlib inline

In [2]:
print(np.__version__)
print(pd.__version__)
print(sns.__version__)
import sys
print(sys.version)

1.17.2
0.25.1
0.9.0
3.7.4 (default, Aug 13 2019, 15:17:50)
[Clang 4.0.1 (tags/RELEASE_401/final)]

In [3]:
df = pd.read_csv('data//iris.data')

In [4]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [5]:
df = pd.read_csv('data//iris.data', header=1)

In [6]:
df.head()

   4.9  3.0  1.4  0.2  Iris-setosa
0  4.7  3.2  1.3  0.2  Iris-setosa
1  4.6  3.1  1.5  0.2  Iris-setosa
2  5.0  3.6  1.4  0.2  Iris-setosa
3  5.4  3.9  1.7  0.4  Iris-setosa
4  4.6  3.4  1.4  0.3  Iris-setosa

In [7]:
col_name = ['sepal length', 'sepal width', 'petal length', 'petal width', 'class']

In [8]:
df.columns = col_name

In [9]:
df.head()

   sepal length  sepal width  petal length  petal width        class
0           4.7          3.2           1.3          0.2  Iris-setosa
1           4.6          3.1           1.5          0.2  Iris-setosa
2           5.0          3.6           1.4          0.2  Iris-setosa
3           5.4          3.9           1.7          0.4  Iris-setosa
4           4.6          3.4           1.4          0.3  Iris-setosa

## Iris Data from Seaborn

In [10]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [12]:
df.describe()

       sepal length  sepal width  petal length  petal width
count    148.000000   148.000000    148.000000   148.000000
mean       5.854730     3.051351      3.790541     1.212162
std        0.827695     0.434950      1.754657     0.759332
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [13]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [14]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [16]:
iris.groupby('species').size()

species
setosa        50
versicolor    50
virginica     50
dtype: int64

## Visualisation